body {
		  font-family: Arial, sans-serif;
		  margin:0;
		  background-image:url(https://img.freepik.com/free-vector/platform-mockup-product-display-background_1017-14073.jpg?t=st=1717570271~exp=1717573871~hmac=a76de784f05a5199244421b6f31d5c75725c52fbd258065468359e101b294a4f&w=740);
		  
}
.container {
		  max-width: 600px;
		  margin: 50px auto;
		  padding: 20px;
		  background-color: #fff;
		  border-radius: 8px;
		  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
		  display: block;
		  margin-bottom: 8px;
}
		