@charset "ISO-8859-1";

body {
  font-family: 'Quicksand', sans-serif;
  background-color: #03001C;
}

h1 {
    font-size: 48px;
    font-weight: 700;
    margin: 30px 0;
    color: #1a252f;
    text-transform: uppercase
}

h2 {
    font-size: 32px;
    font-weight: 600;
    margin: 20px 0;
    color: #2c3e50;
}

h3 {
    font-size: 24px;
    font-weight: 500;
    margin: 15px 0;
    color: #34495e;
}

p {
    font-size: 16px;
    font-weight: 400;
    margin: 16px 0;
    color: #000000;
    line-height: 28px;
}

.product-container {
  background-color: #5B8FB9;
  width: 100%;
  height: 500px;
}

.row {
	height: 100%;
	display: flex;
	width: 100%;
	margin:auto;
}

.product-container .card {
  padding: 16px;
  text-align: justify;
}

.product-container .card-img{
  width: 300px;
  height: auto;
}


.product-container .product-description, .product-image, .other-product {
  width: 33%;
  margin:auto;
  padding-left: 100px;
  justify-content: center;
}

.product-container .product-description {
	width: 40%;
}

.product-container .other-product {
	width: 28%;
	margin-right: 5%;
	padding-left: 50px;
}

.gallery {
    position: relative;
    margin:auto;
    width: 100%;
}
.gallery img {
    width: 100%;
    height: auto;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.gallery input[type="radio"] {
    display: none;
}
.gallery label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    color: #333;
    border: none;
    cursor: pointer;
    z-index: 10;
    display: none;
}
.gallery label.left {
    left: 10px;
}
.gallery label.right {
    right: 80px;
}
#img1:checked ~ #image1,
#img2:checked ~ #image2,
#img3:checked ~ #image3,
#img4:checked ~ #image4 {
    display: block;
}
#image1,
#image2,
#image3,
#image4 {
    display: none;
}
.gallery img:active {
    transform: scale(2);
}
/* Navigation for each image */
#img1:checked ~ .nav1,
#img2:checked ~ .nav2,
#img3:checked ~ .nav3,
#img4:checked ~ .nav4 {
    display: block;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: left;
}

.current-product-item, .other-product-item {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 75px;
    height: auto;
    text-align: center;
    padding: 10px;
}

.other-product-item {
	background-color: hsla(0, 0%, 100%, .3);
}

.product-list img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.product-list img:hover {
    transform: scale(1.1);
}

.purchaseButton {
  background-color:#dc3545;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}

.rateButton {
  background-color:#007bff;
  color:white;
  padding: 10px 20px;
  border-radius: 5px;
}

.product_content {
    margin-top: 5px;
    padding-bottom: 20px
}

.product_content li {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: #999;
    text-transform: uppercase
}

.product_content li span {
    line-height: 20px;
    text-align: right;
    text-transform: none
}

.product_content li {
    margin-top: 20px;
}

.productDetails-container {
  display: flex;
  height: 800px;
}

.productDetails-container .product_details {
	display:flex;
	width:50%;
	background-color: #FFFFFF;
}

.productDetails-container .product_details .product_feature h2{
	margin-left: 20px;
}

.productDetails-container .product_more {
	width:50%;
	text-align: center;
}

.productDetails-container .product_more .recommendTitle {
	border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color:#f6f6f6;
    width: 80%;
    height: auto;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.product_more .card {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color:#f6f6f6;
    width: 80%;
    height: 200px;
    margin: auto;
    margin-bottom: 20px;;
    display: flex;
    flex-direction: row;
}

.product_more .card img {
    width: 30%;
    height: auto;
    margin:10px;
    border-radius: 8px;
    background-color: #B6EADA;
    display: flex;
}

.product_more .card-body{	
    width:35%;
    padding: 16px;
    align-items: center;
    justify-content: center;
    text-align: justify;
}

.others-container {
	justify-content: center;
	width: 100%;
	height: 300px;
	background-color: #301E67;
}

.others-container .others-card {
	border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color:#f6f6f6;
    width: 80%;
    height: 260px;
    margin: auto;
    text-align: center;
    display: flex;
}

.othersCard-column {
	margin: auto;
	padding-left: 5px;
	margin-top: 10px;
	width: 33%;
	text-align: center;
}

.others-container .card-img{
	width: 150px;
	height: auto;
}

input[type='checkbox'] {
  display: none;
}

.lbl-toggle {
  display: block;
  font-weight: bold;
  font-size: 16px;
  text-align: left;
  width:100%;
  color: #2c3e50;
  padding-left: 20px;
  cursor: pointer;
  transition: all 0.25s ease-out;
}


.lbl-toggle::before {
  content: ' ';
  display: inline-block;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid currentColor;
  vertical-align: middle;
  transform: translateY(-2px);
  transition: transform .2s ease-out;
  margin-right: 5px;
}

.collapsible-content .content-inner {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: 8px;
  text-align: justify;
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
  margin-left: 20px;
  margin-right: 20px;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 100vh;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}


