<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
	<link rel="stylesheet" href="/css/aboutus.css">
</head>
<body>
	<div th:replace="header"></div>
    <div class="container">
        <h1>About Us</h1>
        <p>Welcome to Cold Watch! We specialize in offering a wide variety of watches for men, women, and kids. Our mission is to provide high-quality, stylish, and affordable timepieces to suit every taste and occasion.</p>
	</div>
		
		<div class="responsive-container-block bigContainer">
		  <div class="responsive-container-block Container">
		    <div class="responsive-container-block leftSide">
		      <p class="text-blk heading">
		        Meet Our Creative Team
		      </p>
		      <p class="text-blk subHeading">
		        Ho Xin Yi SWE2209987 <br>
				Ng Zhen Quan SWE2209 <br>
				Ong Wen Zheng SWE2209 <br>
				Wong Rui Bin SWE2209 <br>
				Caleb Lau Lik Hung SWE2209 <br>
				Zhu Xingpeng SWE22209 <br>
		      </p>
		    </div>
		    <div class="responsive-container-block rightSide">
		      <img class="number1img" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png">
		      <img class="number2img" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png">
		      <img class="number3img" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png">
		      <img class="number5img" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png">
			  <img class="number4img" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png">
		      <img class="number6img" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png">
		    </div>
		  </div>
		</div>
		
	<div th:replace="footer"></div>
</body>
</html>